@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Roboto:ital@1&display=swap');
 body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
 }
.container{
    width: 1349px;
    height: 576px;
    background: #F0FFF0;
    
    
    
}
.top-section{
    display: flex;
    justify-content: center;
  
    
}
.school-logo{
    margin-right: 410px;
    margin-top: 30px;
}
.school-logo img{
    width: 198.07px;
    height: 59px;
   
}
nav{
    margin-top: 30px;
}
ul a{
   
    color: #000000;
    font-size: 16px;
    margin-right: 38px;
    text-decoration: none;
    
}



ul{
    list-style: none;
    display: flex;
}
.link-button{
    text-decoration: none;
    width: 110px;
    height: 30px;
    background: #21B573;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: 900;
    
}
.school-image img{
    width: 554px;
    height: 346px;
}

.school-intro{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
.school-intro-first-part{
    height: 350px;
    width: 600px;
}
.school-intro-first-part p{
    color: #FD511A;
}
.any-schedule-colour{
    color: #21B573;
}

/* ----------------------------
     School-Performance
------------------------------*/

.school-performance{
    display: flex;
    justify-content:center;
    margin: 52px 135px 105px;
    
}
.topic{
    height: 240px;
    width: 270px;
    grid-gap: 30px;
    padding: 20px 0;
    margin: 0px 20px 0px 20px ;
    box-shadow: 0px 5px 3px 3px rgba(128, 128, 128, 0.377);
    border-radius: 10px;
    
}

.topic:hover{
    transform: scale(1.1,1.1);
    transition: transform 1s ease-out;
   background-color: rgba(255, 99, 71, 0.733);
    
}
.topic-image{
    text-align: center;
}
.topic-image img{
    width: 66px;
    height: 85px;
}

.topic-number{
    font-size: 24px;
    color: #413960;
    text-align: center;
   
    
}
.topic-description{
    font-size: 16px;
    color:#585859;
    text-align: center;
}

/*--------------------------------
      Online Course part
 -------------------------------*/

 .online-courses-part{
    width: 1349px;
    height: 576px;
    margin-bottom: 180px;

 }
.course-heading{
     color: #413960;
     font-size: 25px;
     display: flex;
     justify-content: center;
     text-decoration: underline;
     
     
 }
 .courses{
     display: flex;
     justify-content: center;
     
     
     
 }
 .course{
    margin-right: 40px;
    padding: 20px;
    box-shadow: 0px 5px 5px  rgba(128, 128, 128, 0.61);
    
 }
 .course-image img{
    width: 331px;
    height: 234px;
   
 }
 .course-name{
     color:#413960;
     font-size: 14px;
     margin-bottom: 46px;
     
 }
 .buy-course{
    margin-bottom: 34px;
   
    

 }
 .course-schedule{
     display: flex;
     justify-content:space-between;
    
 }

 .calendar img{
    width: 24px;
    height: 24px;
   
 }
 .course-time{
     color: #585859;
     font-size: 18px;
     margin-top: -8px;
     
 }
 .time{
     display: flex;
     align-items: center;
 }


 /*------------------------------ 
         FOOTER PART
  -------------------------------*/
footer{
    height: 400px;
    background: #282531;
   
}
.footer-section{
    width: 1200px;
    display: grid;
    grid-template-columns: 400px repeat(3,1fr);
    position: relative;
    top: 80px;
    left: 70px;
    
}
.footer-column{
    color: #FFFFFF;
    font-size: 16px;
    
    
}
.title{
 margin-left: 40px;
 font-weight: 600;
 text-decoration:underline;
}
.footer-column ul{
      display: block;
  }
.footer-column li a{
    color: #FFFFFF;
  }
  .copyright{
       height:50px;
      color: #CDCDCD;
      font-size:20px;
      font-weight:400px;
      position: absolute;
      left: 425px;
      top: 250px;
  }
